.header {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    margin-bottom: 20px;
}

.header__nav {
    display: flex;
}

.header__nav-item:first-child {
    margin-left: 0;
}

.header__nav-item {
    cursor: pointer;
    margin-left: 40px;
    transition: color 0.2s ease-out;
}

.header__nav-item:hover {
    color: var(--orange);
}

.logo {
    display: inline;
    cursor: pointer;
    font-weight: 400;
}

.logo span {
    color: var(--orange);
}

.header__log {
    align-items: center;
    display: flex;
}

.header__reg {
    background-color: var(--white);
    color: var(--black);
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;

    transition: all 0.2s;
}

.header__reg:hover {
    background-color: var(--orange);
    color: var(--white);
    border-radius: 6px;
}

.header__login {
    margin-left: 40px;
    cursor: pointer;
}

.header__login:hover {
    color: var(--orange);
}
